@charset "utf-8"
{
    margin: 0px;
    padding: 0px;
}

nav{
    background: #F1F7ED;
    padding: 5px;
    margin: 5px;
}

/* sets the text style in the nav */
.header{
    margin: 5px;
    color: #197278;
}

body
{
    background-color: #0b181aff;
    color: #F6E8EA;
}  

/* sets the website title style */
.title1
{
    padding: 10px;
    text-align: center;
} 

/* sets the aside styles */
#characters
{
    background: #b1b2b5ff;
    float: right;
    padding: 5px;   
    margin: 5px; 
    height: 350px;
    width: 250px;
    display: inline;
    text-align: center;
    border-radius:10px;
}

/* sets the images style within a figcaption tag */
figure img:hover
{
    -webkit-transform: scale(1.2);
    -webkit-transform: rotate(1deg);
    border-radius:10px;
}

/* for displaying in columns */
.padre{
    display: flex;
}

/* sets the images style */
.images{
    margin-left: 450px;
    border-radius:10px;
}

/* mostly used for the links text color */
.text_color{
    color: #7a2c2cff;
}

/* for changing text color within figcaption tags */
.cap_color{
    color: #b89c2cff;
}

/* setting the aside text color */
.aside_color{
    color: brown;
}

footer{
    padding: 25px;
    background: #000000ff;
    color: whitesmoke;
}
