/* Coolors Exported Palette - https://coolors.co/0b181a-7a2c2c-b89c2c-2c5e7a-b1b2b5-ffbfb7 */

/* CSS HEX */
--rich-black-fogra-29: #0b181aff;
--persian-plum: #7a2c2cff;
--satin-sheen-gold: #b89c2cff;
--blue-sapphire: #2c5e7aff;
--silver-chalice: #b1b2b5ff;
--melon: #ffbfb7ff;

/* CSS HSL */
--rich-black-fogra-29: hsla(188, 41%, 7%, 1);
--persian-plum: hsla(0, 47%, 33%, 1);
--satin-sheen-gold: hsla(48, 61%, 45%, 1);
--blue-sapphire: hsla(202, 47%, 33%, 1);
--silver-chalice: hsla(225, 3%, 70%, 1);
--melon: hsla(7, 100%, 86%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #0b181aff;
$persian-plum: #7a2c2cff;
$satin-sheen-gold: #b89c2cff;
$blue-sapphire: #2c5e7aff;
$silver-chalice: #b1b2b5ff;
$melon: #ffbfb7ff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(188, 41%, 7%, 1);
$persian-plum: hsla(0, 47%, 33%, 1);
$satin-sheen-gold: hsla(48, 61%, 45%, 1);
$blue-sapphire: hsla(202, 47%, 33%, 1);
$silver-chalice: hsla(225, 3%, 70%, 1);
$melon: hsla(7, 100%, 86%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(11, 24, 26, 1);
$persian-plum: rgba(122, 44, 44, 1);
$satin-sheen-gold: rgba(184, 156, 44, 1);
$blue-sapphire: rgba(44, 94, 122, 1);
$silver-chalice: rgba(177, 178, 181, 1);
$melon: rgba(255, 191, 183, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-right: linear-gradient(90deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-bottom: linear-gradient(180deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-left: linear-gradient(270deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-top-right: linear-gradient(45deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-bottom-right: linear-gradient(135deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-top-left: linear-gradient(225deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-bottom-left: linear-gradient(315deg, #0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
$gradient-radial: radial-gradient(#0b181aff, #7a2c2cff, #b89c2cff, #2c5e7aff, #b1b2b5ff, #ffbfb7ff);
